<form method="POST" action="{{ url_for('process_nome') }}">
    <input type="text" name="nome" placeholder="Inserisci il nome" required autocomplete="off">
    <button type="submit">Prova</button>
</form>

{% if feedback %}
    <div>
        <dl>
            <dt>Nome:</dt><dd>{{ feedback[0]|default('N/A') }}</dd>
            <dt>Debutto:</dt><dd>{{ feedback[1]|default('N/A') }}</dd>
            <dt>Regione:</dt><dd>{{ feedback[2]|default('N/A') }}</dd>
            <dt>Gender:</dt><dd>{{ feedback[3]|default('N/A') }}</dd>
            <dt>Genere:</dt><dd>{{ feedback[4]|default('N/A') }}</dd>
        </dl>
    </div>
{% endif %}
